/*
Folha estilo para GreySpace+
@author: Daniele de Lima Matos
matos.daniele@gmail.com
*/

/*
body{
    background: 
        linear-gradient(
            rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.85)
        ),
        url("img/avos_desenho.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
*/


/*Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 576px) and (orientation: portrait) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    background-attachment: fixed;
}
}

/*Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {
     body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    background-attachment: fixed;
}
}

/*Table Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    background-attachment: fixed;
}
}

/*Table Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    background-attachment: fixed;
}
}

/*PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 1200px) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    background-attachment: fixed;
}
}
