/*
Folha estilo para GreySpace+
@author: Daniele de Lima Matos
matos.daniele@gmail.com
*/


body{
    background-color: #f2f2f2;
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    background-repeat: no-repeat;    
}


/*Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (max-width: 576px) and (orientation: portrait) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    
}
}

/*Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {
     body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    
}
}

/*Table Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    
}
}

/*Table Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    
}
}

/*PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 1200px) {
    body{
    background-image: url("img/avos_desenho.png");
    background-size: cover;
    
}
}
